nav {
  background: url("../assets/images/mainpage/qatar_background.png");
}

.nav__container {
  max-width: 1500px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}

.logo__container {
  display: flex;
  flex: 1;
}

.list__container {
  display: flex;
  flex: 1;
  justify-content: center;
}

.logo__container {
  margin-left: 50px;
}

.logo__container > img {
  margin-right: 10px;
}

.icon__container {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  margin-right: 50px;
}

.list__container > li {
  font-size: 22px;
  margin-right: 30px;
  font-weight: 600;
}

.list__container--text {
  color: #c292a2;
}

.active--text {
  border-bottom: 4px solid #fbeedc;
  color: #fbeedc;
}

.select__icon {
  color: white;
  width: 25px;
  height: 22px;
}

@media (max-width: 1000px) {
  .list__container {
    display: none;
  }
}
