nav {
  background: url("../assets/images/mainpage/qatar_background.png");
}

.nav__container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 59px;
}

.logo__container {
  display: flex;
  flex: 1;
}

.list__container {
  display: flex;
  flex: 1;
  justify-content: center;
}

.logo__container {
  margin-left: 50px;
}

.logo__container > img {
  margin-right: 10px;
}

.icon__container {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  margin-right: 50px;
}

.list__container > li {
  font-size: 20px;
  color: white;
  margin-right: 16px;
  font-weight: bold;
}

.select__icon {
  color: white;
  width: 25px;
  height: 22px;
}
