nav {
  background-image: url("../assets/images/mainpage/qatar_background.png");
  height: 59px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo__container {
  display: flex;
  flex: 1;
}

.nav__container {
  display: flex;
  flex: 1;
  justify-content: center;
}

.logo__container {
  margin-left: 10px;
}

.logo__container > img {
  margin-right: 10px;
}

.icon__container {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  margin-right: 10px;
}

.nav__container > li {
  font-size: 20px;
  color: white;
  margin-right: 16px;
  font-weight: bold;
}

.select__icon {
  color: white;
  width: 25px;
  height: 22px;
}
