.date__container {
  display: flex;
  flex-wrap: nowrap;
  cursor: pointer;
  margin-bottom: 30px;
  padding: 20px 950px 20px 0;
  margin-left: 20px;
  border: 1px solid #e2e2e2;
  border-left: none;
  border-right: none;
}

.day__container {
  background-color: #eee;
  min-width: 68px;
  min-height: 65px;
  padding: 5px 10px 5px 15px;
  border-radius: 7px;
  font-size: 13px;
  margin-right: 10px;
}

.day-active {
  background-image: url("../assets/images/mainpage/qatar_background.png");
}

.month__box {
  display: flex;
  margin-top: 5px;
  color: #aaa9a9;
  font-weight: 600;
}

.day__box {
  display: flex;
  color: #777575;
}

.month-active,
.day-box-active {
  color: white;
}

.day__box--date {
  font-size: 20px;
  padding-top: 4px;
}

.day__box--day {
  margin-top: 10px;
  margin-left: 2px;
}

@media (max-width: 1024px) {
  .date__container {
    border-top: none;
  }
}
